@tailwind base;
@tailwind components;
@tailwind utilities;

.absolute-service-list{
  color:#ed5724;
    text-align: right;
    letter-spacing: -.03em;
    font-size: 9vw;
    font-weight: 800;
    line-height: 1em;
    padding-top:200px;
    


}

.absolute-service-list-wrapper{
      width: 55%;
    position: absolute;
    top: -80px;
    bottom: -80px;
    right: 40px;
    overflow: hidden !important;
    overflow-y: hidden !important;
    

}

.coollistcontainer{
  width: 100%;
    max-width: 1380px;
    min-height: 50px;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    overflow-y: hidden ;

}

.tempcontainer {
  background-color: #00303F;
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
}

.shadows {
  text-shadow: 2px 2px 4px #000000;

}

.triplerowwrapper{
  background-color: #ed5724;
  height:150px;

}

.triple {
  background-color: #ed5724;
}
.homewrapper {
  background-color:#f8f7f6;
}

.identity-box{
  background-color:#e2d2a9;
  border-radius:25px;
  height:430px;
}

.big-headline {
  color:#ed5724;
  font-weight:700;
}

.customers-wrapper{
  background-color: #ed5724;
  color:white;
  height:450px;
}

.sidebarcontainer{
  background-image: linear-gradient(white, rgba(255, 255, 255, 0));
  height:600px;
  padding-bottom:100px;
}

.photoboxes{
  height:500px;
  width:500px;
}